<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details Page</h1>
   
 
    <h2><%=book.name%></h2>
    <h2><%=book.author%></h2>
        
    <hr>
    <a href="/delete/<%=index%>">delete</a>
    &nbsp;
    <a href="/update/<%=index%>">update</a> 
   
   
    
</body>
</html>